body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1319px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u255 {
  position:absolute;
  left:460px;
  top:134px;
  width:419px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  white-space:nowrap;
}
#u257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u257 {
  position:absolute;
  left:716px;
  top:194px;
  width:349px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u258 {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  white-space:nowrap;
}
#u259 {
  position:absolute;
  left:157px;
  top:358px;
  width:1167px;
  height:103px;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
}
#u260 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
  font-family:'华文中宋 Bold', '华文中宋';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u261 {
  position:absolute;
  left:2px;
  top:2px;
  width:158px;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:31px;
}
#u262 {
  position:absolute;
  left:162px;
  top:0px;
  width:289px;
  height:31px;
  font-family:'华文中宋 Bold', '华文中宋';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u263 {
  position:absolute;
  left:2px;
  top:2px;
  width:285px;
  word-wrap:break-word;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:31px;
}
#u264 {
  position:absolute;
  left:451px;
  top:0px;
  width:224px;
  height:31px;
  font-family:'华文中宋 Bold', '华文中宋';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u265 {
  position:absolute;
  left:2px;
  top:2px;
  width:220px;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:31px;
}
#u266 {
  position:absolute;
  left:675px;
  top:0px;
  width:487px;
  height:31px;
  font-family:'华文中宋 Bold', '华文中宋';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u267 {
  position:absolute;
  left:2px;
  top:2px;
  width:483px;
  word-wrap:break-word;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:67px;
}
#u268 {
  position:absolute;
  left:0px;
  top:31px;
  width:162px;
  height:67px;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u269 {
  position:absolute;
  left:2px;
  top:23px;
  width:158px;
  word-wrap:break-word;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:67px;
}
#u270 {
  position:absolute;
  left:162px;
  top:31px;
  width:289px;
  height:67px;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u271 {
  position:absolute;
  left:2px;
  top:23px;
  width:285px;
  word-wrap:break-word;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:67px;
}
#u272 {
  position:absolute;
  left:451px;
  top:31px;
  width:224px;
  height:67px;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u273 {
  position:absolute;
  left:2px;
  top:23px;
  width:220px;
  word-wrap:break-word;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:67px;
}
#u274 {
  position:absolute;
  left:675px;
  top:31px;
  width:487px;
  height:67px;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u275 {
  position:absolute;
  left:2px;
  top:26px;
  width:483px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u276 {
  position:absolute;
  left:845px;
  top:403px;
  width:140px;
  height:40px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u277 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u278 {
  position:absolute;
  left:1006px;
  top:403px;
  width:140px;
  height:40px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u279 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u280 {
  position:absolute;
  left:1166px;
  top:403px;
  width:140px;
  height:40px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u281 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u282 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:214px;
}
#u283 {
  position:absolute;
  left:541px;
  top:309px;
  width:394px;
  height:213px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u284 {
  position:absolute;
  left:2px;
  top:94px;
  width:390px;
  word-wrap:break-word;
}
#u285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u285 {
  position:absolute;
  left:668px;
  top:467px;
  width:140px;
  height:40px;
}
#u286 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
