body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1285px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u44 {
  position:absolute;
  left:339px;
  top:512px;
  width:387px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:245px;
  top:584px;
  width:996px;
  height:233px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:36px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:36px;
}
#u49 {
  position:absolute;
  left:186px;
  top:0px;
  width:229px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:36px;
}
#u51 {
  position:absolute;
  left:415px;
  top:0px;
  width:169px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:165px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:36px;
}
#u53 {
  position:absolute;
  left:584px;
  top:0px;
  width:137px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:133px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:36px;
}
#u55 {
  position:absolute;
  left:721px;
  top:0px;
  width:89px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u56 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u57 {
  position:absolute;
  left:810px;
  top:0px;
  width:80px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u59 {
  position:absolute;
  left:890px;
  top:0px;
  width:101px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u60 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:52px;
}
#u61 {
  position:absolute;
  left:0px;
  top:36px;
  width:186px;
  height:52px;
}
#u62 {
  position:absolute;
  left:2px;
  top:18px;
  width:182px;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:52px;
}
#u63 {
  position:absolute;
  left:186px;
  top:36px;
  width:229px;
  height:52px;
}
#u64 {
  position:absolute;
  left:2px;
  top:10px;
  width:225px;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:52px;
}
#u65 {
  position:absolute;
  left:415px;
  top:36px;
  width:169px;
  height:52px;
}
#u66 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:52px;
}
#u67 {
  position:absolute;
  left:584px;
  top:36px;
  width:137px;
  height:52px;
}
#u68 {
  position:absolute;
  left:2px;
  top:18px;
  width:133px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:52px;
}
#u69 {
  position:absolute;
  left:721px;
  top:36px;
  width:89px;
  height:52px;
}
#u70 {
  position:absolute;
  left:2px;
  top:18px;
  width:85px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:52px;
}
#u71 {
  position:absolute;
  left:810px;
  top:36px;
  width:80px;
  height:52px;
}
#u72 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:52px;
}
#u73 {
  position:absolute;
  left:890px;
  top:36px;
  width:101px;
  height:52px;
  color:#0000FF;
}
#u74 {
  position:absolute;
  left:2px;
  top:18px;
  width:97px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:36px;
}
#u75 {
  position:absolute;
  left:0px;
  top:88px;
  width:186px;
  height:36px;
}
#u76 {
  position:absolute;
  left:2px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:36px;
}
#u77 {
  position:absolute;
  left:186px;
  top:88px;
  width:229px;
  height:36px;
}
#u78 {
  position:absolute;
  left:2px;
  top:10px;
  width:225px;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:36px;
}
#u79 {
  position:absolute;
  left:415px;
  top:88px;
  width:169px;
  height:36px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:165px;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:36px;
}
#u81 {
  position:absolute;
  left:584px;
  top:88px;
  width:137px;
  height:36px;
}
#u82 {
  position:absolute;
  left:2px;
  top:10px;
  width:133px;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:36px;
}
#u83 {
  position:absolute;
  left:721px;
  top:88px;
  width:89px;
  height:36px;
}
#u84 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u85 {
  position:absolute;
  left:810px;
  top:88px;
  width:80px;
  height:36px;
}
#u86 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u87 {
  position:absolute;
  left:890px;
  top:88px;
  width:101px;
  height:36px;
  color:#0000FF;
}
#u88 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:36px;
}
#u89 {
  position:absolute;
  left:0px;
  top:124px;
  width:186px;
  height:36px;
}
#u90 {
  position:absolute;
  left:2px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:36px;
}
#u91 {
  position:absolute;
  left:186px;
  top:124px;
  width:229px;
  height:36px;
}
#u92 {
  position:absolute;
  left:2px;
  top:10px;
  width:225px;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:36px;
}
#u93 {
  position:absolute;
  left:415px;
  top:124px;
  width:169px;
  height:36px;
}
#u94 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:36px;
}
#u95 {
  position:absolute;
  left:584px;
  top:124px;
  width:137px;
  height:36px;
}
#u96 {
  position:absolute;
  left:2px;
  top:10px;
  width:133px;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:36px;
}
#u97 {
  position:absolute;
  left:721px;
  top:124px;
  width:89px;
  height:36px;
}
#u98 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u99 {
  position:absolute;
  left:810px;
  top:124px;
  width:80px;
  height:36px;
}
#u100 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u101 {
  position:absolute;
  left:890px;
  top:124px;
  width:101px;
  height:36px;
  color:#0000FF;
}
#u102 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:68px;
}
#u103 {
  position:absolute;
  left:0px;
  top:160px;
  width:186px;
  height:68px;
}
#u104 {
  position:absolute;
  left:2px;
  top:26px;
  width:182px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:68px;
}
#u105 {
  position:absolute;
  left:186px;
  top:160px;
  width:229px;
  height:68px;
}
#u106 {
  position:absolute;
  left:2px;
  top:10px;
  width:225px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:68px;
}
#u107 {
  position:absolute;
  left:415px;
  top:160px;
  width:169px;
  height:68px;
}
#u108 {
  position:absolute;
  left:2px;
  top:2px;
  width:165px;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:68px;
}
#u109 {
  position:absolute;
  left:584px;
  top:160px;
  width:137px;
  height:68px;
}
#u110 {
  position:absolute;
  left:2px;
  top:26px;
  width:133px;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:68px;
}
#u111 {
  position:absolute;
  left:721px;
  top:160px;
  width:89px;
  height:68px;
}
#u112 {
  position:absolute;
  left:2px;
  top:26px;
  width:85px;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:68px;
}
#u113 {
  position:absolute;
  left:810px;
  top:160px;
  width:80px;
  height:68px;
}
#u114 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:68px;
}
#u115 {
  position:absolute;
  left:890px;
  top:160px;
  width:101px;
  height:68px;
  color:#0000FF;
}
#u116 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  word-wrap:break-word;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u117 {
  position:absolute;
  left:462px;
  top:72px;
  width:449px;
  height:43px;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:598px;
  top:276px;
  width:201px;
  height:120px;
}
#u119_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:207px;
  height:126px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:125px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:39px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:39px;
}
#u122 {
  position:absolute;
  left:2px;
  top:12px;
  width:197px;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u123 {
  position:absolute;
  left:0px;
  top:39px;
  width:201px;
  height:41px;
}
#u124 {
  position:absolute;
  left:2px;
  top:12px;
  width:197px;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:40px;
}
#u125 {
  position:absolute;
  left:0px;
  top:80px;
  width:201px;
  height:40px;
}
#u126 {
  position:absolute;
  left:2px;
  top:12px;
  width:197px;
  word-wrap:break-word;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u127 {
  position:absolute;
  left:339px;
  top:445px;
  width:97px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u129 {
  position:absolute;
  left:755px;
  top:137px;
  width:349px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  white-space:nowrap;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u131 {
  position:absolute;
  left:339px;
  top:466px;
  width:300px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:398px;
  top:221px;
  width:595px;
  height:60px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:55px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:55px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u135 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:55px;
}
#u136 {
  position:absolute;
  left:200px;
  top:0px;
  width:200px;
  height:55px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u137 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:55px;
}
#u138 {
  position:absolute;
  left:400px;
  top:0px;
  width:190px;
  height:55px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u139 {
  position:absolute;
  left:2px;
  top:17px;
  width:186px;
  word-wrap:break-word;
}
#u140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u140 {
  position:absolute;
  left:1120px;
  top:854px;
  width:99px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u142 {
  position:absolute;
  left:882px;
  top:20px;
  width:222px;
  height:16px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u144 {
  position:absolute;
  left:1105px;
  top:14px;
  width:85px;
  height:25px;
}
#u145 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u146 {
  position:absolute;
  left:1200px;
  top:14px;
  width:85px;
  height:25px;
  color:#000000;
}
#u147 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
