body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:877px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:369px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1402 {
  position:absolute;
  left:139px;
  top:74px;
  width:541px;
  height:369px;
}
#u1403 {
  position:absolute;
  left:2px;
  top:176px;
  width:537px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:67px;
  background:inherit;
  background-color:rgba(102, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1404 {
  position:absolute;
  left:139px;
  top:74px;
  width:541px;
  height:67px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1405 {
  position:absolute;
  left:2px;
  top:20px;
  width:537px;
  word-wrap:break-word;
}
#u1406 {
  position:absolute;
  left:161px;
  top:169px;
  width:298px;
  height:219px;
}
#u1407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
}
#u1407 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1408 {
  position:absolute;
  left:2px;
  top:6px;
  width:289px;
  word-wrap:break-word;
}
#u1409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
}
#u1409 {
  position:absolute;
  left:0px;
  top:30px;
  width:293px;
  height:30px;
}
#u1410 {
  position:absolute;
  left:2px;
  top:6px;
  width:289px;
  word-wrap:break-word;
}
#u1411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
}
#u1411 {
  position:absolute;
  left:0px;
  top:60px;
  width:293px;
  height:30px;
}
#u1412 {
  position:absolute;
  left:2px;
  top:6px;
  width:289px;
  word-wrap:break-word;
}
#u1413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
}
#u1413 {
  position:absolute;
  left:0px;
  top:90px;
  width:293px;
  height:30px;
}
#u1414 {
  position:absolute;
  left:2px;
  top:6px;
  width:289px;
  word-wrap:break-word;
}
#u1415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:32px;
}
#u1415 {
  position:absolute;
  left:0px;
  top:120px;
  width:293px;
  height:32px;
}
#u1416 {
  position:absolute;
  left:2px;
  top:7px;
  width:289px;
  word-wrap:break-word;
}
#u1417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:32px;
}
#u1417 {
  position:absolute;
  left:0px;
  top:152px;
  width:293px;
  height:32px;
}
#u1418 {
  position:absolute;
  left:2px;
  top:7px;
  width:289px;
  word-wrap:break-word;
}
#u1419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
}
#u1419 {
  position:absolute;
  left:0px;
  top:184px;
  width:293px;
  height:30px;
}
#u1420 {
  position:absolute;
  left:2px;
  top:6px;
  width:289px;
  word-wrap:break-word;
}
#u1421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1421 {
  position:absolute;
  left:567px;
  top:397px;
  width:86px;
  height:30px;
}
#u1422 {
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u1423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1423 {
  position:absolute;
  left:458px;
  top:397px;
  width:86px;
  height:30px;
}
#u1424 {
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u1425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:55px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1425 {
  position:absolute;
  left:716px;
  top:141px;
  width:161px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1426 {
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u1427_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:89px;
  height:31px;
}
#u1427 {
  position:absolute;
  left:642px;
  top:166px;
  width:74px;
  height:5px;
}
#u1428 {
  position:absolute;
  left:2px;
  top:-6px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1429_img {
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:89px;
}
#u1429 {
  position:absolute;
  left:499px;
  top:417px;
  width:5px;
  height:74px;
}
#u1430 {
  position:absolute;
  left:2px;
  top:29px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:55px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1431 {
  position:absolute;
  left:445px;
  top:491px;
  width:161px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1432 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
